// Color
$redCath: #CC1C55;
$yellowCath: #E2BF00;


// FONT
@font-face {
  font-family: Castellar;
  src: url("css/font/CASTELAR.ttf")!important;
}

// GLOBAL
html, body {
  font-family: "Courier New";
  font-size: 16px;
}

a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: $yellowCath;
}

.header .nav-item .nav-link:hover {
  color: $yellowCath;
}

.content {
  background-color: #e9f0f5;
}

h1 {
  font-family: Castellar;
  color: #E2BF00;
}

.btn.btn-cath {
  background-color: $redCath;
  color: white;
}

// HEADER
.header {
  //height: 75px;
  background-color: #CC1C55;
  font-size: 1.1em;
  .nav-item {
    .nav-link {
      color: white;
    }
  }
}

.navbar-light .navbar-brand {
  color: #E2BF00;
  font-weight: bold;
  font-size: 1.4em;
}

// PRESENTATION CATHEVIEW
.presentation-catheview {
  .logo {
    display: flex;
    justify-content: center;
  }
  .texte {
    display: flex;
    align-items: center;
    padding-top: 30px;
  }
}

// PRESENTATION JEU DE PISTE
.presentation-jeu-de-piste {
  margin: 50px 0 50px 0;
}

// CHOIX CATHEDRALE
.choix-cathedrale {
  padding-bottom: 30px;
}
.choix-cathedrale .image-cathedrale {
  background-color: white;
  width: 300px;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 8px 8px 29px 0 rgba(79,79,79,1);
  height: 380px;
}
.choix-cathedrale .image-cathedrale:hover {
  -webkit-filter: brightness(130%);
}

.choix-cathedrale .image-cathedrale-false:hover {
  filter: grayscale(50%) brightness(46%);
}

.error-image{
  opacity: 0;
  position: absolute;
  left: 22%;
  color: #CC1C55;
  font-size: 2.5em;
  font-weight: bold;
  top: -1050%;
  width: 51%;
  text-align: center;
}

.choix-cathedrale:hover .error-image{
  opacity: 1;
}

.choix-cathedrale:hover .error-image{
  opacity: 1;
}
.bottom-midle {
  position: absolute;
  left: 22%;
  color: #CC1C55;
  font-size: 2.5em;
  font-weight: bold;
  top: -1050%;
  width: 51%;
  text-align: center;
}

// ========== FOOTER ========== //
.footer {
  background-color: #000000;
  color: white;
  line-height: 75px;
}

footer{
  margin-top: 40px;
}


/* ========== FOMRULAIRE QUESTION ========== */
.question {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #e9f0f5;
  padding: 10px;
  .container-numero {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Numéro de la question */
    .numero {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #CC1C55;
      font-size: 25px;
      font-weight: bold;
      color: white;
      width: 45px;
      height: 45px;
    }
  }

  .label-question {
    font-family: Castellar;
    font-size: 18px;
    font-weight: bold;
  }

  .the-true {
    color: #2ecc71 !important;
    font-weight: bold;
  }

  .wrong {
    color: #e74c3c !important;
    font-weight: bold;
  }


}

.result {
  background-color: $redCath;
  color: white;
  font-size: 1.3em;
  padding: 10px 0;
}